@import url("common.css") screen;

/* MAIN */
.background {
    background-image: url("../img/background-resume.png");
    background-repeat: no-repeat;
    background-position: bottom-left;
    background-size: cover;
    background-color:rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    height: 760px;
    text-align: center;
}

.background .backgorund--text {
    position: relative;
    top: 40px;
    line-height: 2;
    font-size: 28px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
    letter-spacing: 10px;
    
}

.bottom {
    height: 100px;
}

.inner {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.inner-item {
    text-align: center;
    position: fixed;
    top: 200px;
    
}

.inner .title {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
    
}

.inner .panel--login {
    width: 280px;
    height:200px;
    padding: 50px 23px;
}

.inner .login-group {

}

.inner .login-group .login__form {
    
}

.inner .login-group .login__form .input-group {
    display: flex;
}

.inner .login-group .login__form .input--label {
    width: 10%;
    height: 34px;
    color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    line-height: 34px;
    background-color: #000000;
}

.inner .login-group .login__form .input--text {
    display: block;
    width: 90%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 12px;
}

.inner .login-group .login__form .btn {
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

.inner .login-group .login__register {
    margin-bottom: 12px;
    color: #000000;
    font-size: 10px;
    text-align: right;
}

.inner .login-group .login__register a {
    color: #000000;
}

.inner .login-group .login__register a:hover {
   color: #4078c0;
}

.inner .login-group .login__oauth {
    border-top: 2px solid #93939B; 
    padding-top: 24px;
}

.inner .login-group .login__oauth .btn {
    display: block;
    width: 160px;
    margin: 0 auto;
}
