@import url("common.css") screen;

.body__container {
    background-color: #f1f1f1;
    min-height:720px;
}

.inner {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.inner .panel--login {
    margin-top: 100px;
    width: 360px;
    height: 420px;
    box-sizing: border-box;
    padding: 28px;
}

.inner .panel--login .title {
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    letter-spacing: 18px;
    margin: 30px;
}

.inner .panel--login .section--login {
    margin-bottom: 20px;
}

.inner .panel--login .section--login .input--text {
    width: 100%;
    margin-bottom: 20px;
}

.inner .panel--login .section--login .btn {
    width: 100%;
}

.inner .panel--login .section--lost {
    text-align: end;
}

.inner .panel--login .section--lost .lost {
  color: #000000;
  font-weight: 100;
  font-size: 12px;
}

.inner .panel--login .section--lost .lost:hover {
    color: #2b55ad;
}

.inner .panel--login .section--oauth {
    border-top: 1px solid #7e7e7e;
    margin-top: 20px;
    padding: 20px 0;
}

.inner .panel--login .section--oauth .btn {
    width: 100%;
}