@import url("common.css") screen;

.body__container {
    /* background-color: #f1f1f1; */
    position: relative;
}

.inner {
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

a {
    text-decoration: none;
}

.input--text {
    width: 100%;
}

.btn-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn-box .btn {
    width: 120px;
}

.add-btn-box {
    width: 100%;
    border-top: 1px solid #000000;
    display: flex;
    justify-content: center;
}

.add-btn-box .btn {
    margin-top: 20px;
    width: 240px;
} 

.labels {
    font-size: 16px;
    line-height: 2;
}

table {
    width: 100%;
    border-radius: 4px;
}

tr {
    
}


th {
    padding: 10px;
    font-size: 20px;
    color:#ffffff;
    background-color:#636363;
}

td {
    padding: 10px;
    text-align: center;
}

.update-button-box {
    display: flex;
    justify-content: flex-end;

}

.update-button-box .update-button {
    margin-left: 10px;
}
/* MODAL SECTIONS */
.modal-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding: 20px;
}

.modal-container .modal1 {
    position: fixed;
    width: 560px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;
}

.modal-container .modal1 label i{
    color: #ff0000;
}

/* MAIN SECTIONS */
.section--header {
    background: linear-gradient(to right,#0079bf,#5067c5);
    position: fixed;
    width: 100%;
    top:0;
    border-bottom: 1px solid #2b0a69;
    z-index: 1;
}

.section--header .header {
    height: 67px;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
}

.section--header .nav {
    display: flex;
    align-items: center;   
}

.section--header .nav .nav__item {
    color: #ffffff;
    display: block;
    padding: 10px 20px;
    border-radius: 30px;
}

.section--header .nav .nav__item:hover {
    color: #0079bf;
    background-color: #ffffff;
}

.section--main {
    margin-top: 167px;
}

.section--main .panel {
    padding: 20px;
}

.section--main .panel .title-box {
    text-align: center;
    margin-bottom: 20px;
}

.section--main .panel .title-box .title {
    font-size: 32px;
    letter-spacing: 5px;
}

.section--main .panel .resume-items {
    border: 2px solid #000000;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
}

.section--main .panel .resume-items .err-msg-box {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.section--main .panel .resume-items .err-msg-box .err-msg {
    font-size: 20px;
}

.section--main .panel .photo-group .image-box {
    width:150px;
    height: 150px;
    margin-bottom: 10px;
}

.section--main .panel .photo-group .image-box img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}