
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no maximum-scale=1, minimum-scale=1">
    <title>Resume Manager - Dashboard</title>

    <!--Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Resume Manager">
    <meta property="og:title" content="Write your resume fast, get your job easily">
    <meta property="og:description" content="Resume Manager is a resume building template tool. Once you write your resume, you can reuse your resume.">
    <meta property="og:image" content="#">
    <meta property="og:url" content="#">
    
    <!-- Twitter Card -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="Resume Manager">
    <meta property="twitter:title" content="Write your resume fast, get your job easily">
    <meta property="twitter:description" content="Resume Manager is a resume building template tool. Once you write your resume, you can reuse your resume.">
    <meta property="twitter:image" content="#">
    <meta property="twitter:url" content="#">
    
    <!--Custom CSS-->
    <!-- <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/dashboard.css"> -->
    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" />

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Jqeury -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <!-- Jquery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <!-- ajax & functions -->
    <script type="text/javascript" th:src="@{/js/dashboard.js}"></script>
</head>
<body>
<div class="body__container">
    <section class="section section--header">
        <div class="inner">
            <header class="header">
                <ul class="nav">
                    <li ><a class="nav__item nav-user" th:href="@{/user/{id}(id=${user.id})}" th:text="${user.name}"></a></li>
                    <li ><a class="nav__item nav__dashboard" th:href="@{/dashboard}">Dashboard</a></li>
                    <li ><a class="nav__item nav-logout" th:href="@{/logout}">Logout</a></li>
                </ul>
            </header>
        </div>
    </section>

    <section class="section section--main">
        <div class="inner">
            <div class="panel">
                <h1 class="title" th:text="${'Resumes - ' + user.name}">
                </h1>

                <div class="err-msg-box" th:if="${exceptionMsg}">
                    <p class="err-msg" th:text="${exceptionMsg}"></p>
                </div>

                <div th:if="${resumeList}" class="resume-lists">
                    <!-- fix it to iterate later -->
                    <div th:each="resume : ${resumeList}" class="resume-item">
                        <div class="resume-title">
                            <p th:text="${resume.title}"></p>
                        </div>
                        <div class="resume-image">
                            <a th:href="@{/resume/{resumeId}(resumeId=${resume.id})}">
                                <img class="img" src="img/resume-img4.png" alt="iamge">
                            </a>
                        </div>
                        <div class="button-group">  
                            <button id="update-button" th:onclick="'window.location.href = \'' + @{/resume/{resumeId}(resumeId=${resume.id})} + '\''" class="btn">Update</button>
                            <button id="delete-button" th:onclick="'deleteResume(\'' + ${resume.id} + '\',\'' + ${user.id} + '\');'" class="btn">Delete</button>
                        </div>
                    </div>
                </div>


                <div class="new-resume">
                    <button th:onclick="'window.location.href = \'' + @{/{userId}/resume(userId=${user.id})} + '\''" class="btn btn--blue">Add <i class="fa fa-file-text" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </section>

    <input id="toggle" type="checkbox">
    <label for="toggle">
        <i class="fa fa-bars" aria-hidden="true" id="btn"></i>
    </label>

    <section class="section--sidebar">
        <label for="toggle">
            <i class="fa fa-window-close" aria-hidden="true" id="cancel"></i>
        </label>
        <div class="sidebar__header"> 
            <h1>Resume Manager</h1>
        </div>
        <div class="sidebar__img">
            <img class="profile-img" src="img/meng.jpg" alt="">
            <h1 th:text="${user.name}"></h1>
        </div>

        <div class="menu">
            <ul class="menu-items">
                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> User Detail</a></li>
                <li><a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Resume Template</a></li>
                <li><a href="#"><i class="fa fa-archive" aria-hidden="true"></i> Our Service</a></li>
                <li><a th:href="@{/logout}"><i class="fa fa-window-close" aria-hidden="true"></i> Logout</a></li>
            </ul>
        </div>
    </section>

    <section class="footer">
        <div class="inner">
            <footer class="footer">

            </footer>
        </div>
    </section>
</div>
</body>