
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no maximum-scale=1, minimum-scale=1">
    <title>Resume Manager - Login</title>

    <!--Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Resume Manager">
    <meta property="og:title" content="Write your resume fast, get your job easily">
    <meta property="og:description" content="Resume Manager is a resume building template tool. Once you write your resume, you can reuse your resume.">
    <meta property="og:image" content="#">
    <meta property="og:url" content="#">
    
    <!-- Twitter Card -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="Resume Manager">
    <meta property="twitter:title" content="Write your resume fast, get your job easily">
    <meta property="twitter:description" content="Resume Manager is a resume building template tool. Once you write your resume, you can reuse your resume.">
    <meta property="twitter:image" content="#">
    <meta property="twitter:url" content="#">
    
    <!--Custom CSS-->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

       <!-- Jqeury -->
       <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

       <!-- Jquery UI -->
       <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
</head>
<body>
<div class="body__container">
    <div class="background">
        <p class="backgorund--text">Build your resume with Resume Manager.</p>
        <p class="backgorund--text">It's easy and fast🚀</p>

    </div>
    <div class="bottom">
        <footer>

        </footer>
    </div>
    <div class="inner">
        <div class="inner-item">
            <h2 class="title"><i class="fa fa-eercast" aria-hidden="true"></i> Resume Manager</h2>
            <div class="panel panel--login">
                <div class="login-group">

                    <div class="login__form">
                        <form action="/auth/login" method="POST">
                            <div class="input-group">
                                <div class="input--label"><i class="fa fa-user" aria-hidden="true"></i></div>
                                <input name="email" class="input--text" type="text" placeholder="EMAIL">
                            </div>
                            <div class="input-group">
                                <div class="input--label"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
                                <input name="password" class="input--text" type="password" placeholder="PW">
                            </div>
                            <button type="submit" class="btn btn--blue">Login</button>
                        </form>
                    </div>

                    <div class="login__register">
                        <a th:href="@{/register}">Register </a>/
                        <a href="#"> Lost your ID/PW?</a>
                    </div>

                    <div class="login__oauth">
                        <button class="btn btn--red">Login with <i class="fa fa-google-plus" aria-hidden="true"></i></button>
                    </div>
                </div>    
            </div>
        </div>
    </div>    
</div>
</body>
</html>